<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Velit velit sit sit officia eu Lorem pariatur. Ut aute eu incididunt ad sunt
    reprehenderit sit. Ea exercitation magna exercitation fugiat tempor
    excepteur laboris officia cillum nostrud pariatur. Minim et nisi labore ad
    reprehenderit est dolor. Reprehenderit do aliqua velit sint anim nostrud
    exercitation reprehenderit consectetur. Exercitation non pariatur ex duis
    dolore. Ullamco culpa non pariatur reprehenderit eiusmod.
  </p>
</section>
